/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2016, 7:57:31 PM
    Author     : Yuchipashe
*/

img{
    height: auto;
    width: 30%;
}

#cashier{
    overflow-y: auto;
    	background-color: rgba(0,0,0,0.5);
	width: 96%;
	height: 90%;
	color: white;
	position: fixed;
	top:5.5%;
	left:2%;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
}

#cart{
    
	width: 96%;
	height: 74%;
	color: white;
	position: absolute;
	top:20%;
	left:2%;
        padding-left: 2%;
        padding-top: 1%;
	text-align: center;
}


#checkout{
}


.button {
  border: 0;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  padding: 6px 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #D80000 ;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #B80000;
    text-decoration: underline;
}

.button-block {
  width: 120%;
  margin-top: 30%;
}

#title{
        font-size: 20px;
	margin-top: 5%;
        margin-bottom: -12%;
        
}

#product{
    background-color: rgba(0,0,0,0.6);
    width: 23%;
    height: 43%;
    color: white;
    position: static;
    margin-bottom:2%;
    margin-right:2%;
    text-align: center;
    padding-right: px;
    padding-left: 1%;
    float:left;
    display: inline-block;
}

#productinfo
{
    width: 60%;
    height: 65%;
    color: white;
    margin-bottom:2%;
    margin-left:3%;
    text-align: left;
    padding-right: 15px;
    padding-left: 2%;
    float:left;
    display: inline-block;
}

img{
    float: left;
}



p{
     margin: 5%;
}

#title{
        font-size: 34px;
	margin-top: 5%;
        margin-bottom: -12%;
        
}




label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 8px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 16px;
}
label .req {
  margin: 12px;
  color: red;
}

label.active {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 18px;
}
label.active .req {
  opacity: 10;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 18px;
  display: block;
  text-align: center;
  width: 80%;
  height: 100%;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
}

textarea {
  border: 2px solid ;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-top: 12%;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.field-wrap {
  position: relative;
}